<%- include("./includes/Head.ejs") %>

    <title>ERROR</title>
</head>
<body>
  <div class="page-center">
    <div class="card-box">
      <h2 class="error-text">Result Not Found!</h2>
      <p class="text-center" style="text-align: center;">The path you requested does not exist.</p>

      <form action="/">
        <button>Back to Home</button>
      </form>
    </div>
  </div>
</body>
