<%- include("./Includes/Head.ejs") %>

    <title>Message</title>

<body>
  <div class="page-center">
    <div class="card-box text-center">
      <h3>Message Sent</h3>

      <p>To <b>@<%= user.username %></b></p>
      <div class="usrMsg"><%= message %></div>

      <br><br>
      <form action="/">
        <button>Back to Home</button>
      </form>
    </div>
  </div>
</body>

</html>