<%- include("./Includes/Head.ejs") %>

    <title>Message</title>

<body>
  <div class="page-center">
    <div class="card-box message-box">
      <h3>Send message to @<%= user.username %></h3>

      <form action="/<%= user._id %>/sent" method="POST">
        <textarea name="message" rows="6" placeholder="Write message..."></textarea>
        <br><br>
        <button>Send Message</button>
      </form>
      <form action="/">
        <button class="mt-2">â† Back</button>
      </form>
    </div>
  </div>
</body>

</html>