<%- include("./Includes/Head.ejs") %>

  <title>Add new user</title>
 <body>
  <div class="page-center">
    <div class="card-box">
      <h3>Add New User</h3>
<hr>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input name="name" placeholder="Full name" required><br><br>
        <!-- <input type="file" name="Img" placeholder="Image path"><br><br> -->
         <input type="file" name="Img" id="fileInput" hidden required>
        <label for="fileInput" class="file-upload mb-3">Upload Profile Image</label>
        <span id="fileName" class="file-name">No file chosen</span>

        <input name="username" placeholder="Username" required><br><br>
        <div class="follow-row mb">
        <input type="number" name="followers" placeholder="Enter followers" required><br><br>
        <input type="number" name="following" placeholder="Enter Following" required><br><br>
        </div>
        <textarea name="bio" rows="5" placeholder="Bio" required></textarea><br><br>
        <button type="submit" id="creatUserbtn" required>Create User</button>
      </form>
      <form action="/">
        <button class="mt-2">← Back</button>
      </form>
    </div>
  </div>
  <script src="/JS/script.js"></script>
</body>