@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: rgb(34, 33, 33);
  color: white;
  font-family: "Nunito Sans", sans-serif;
  padding: 20px;
}

.instauser {
  background-color: rgb(92, 91, 91);
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  border: none;
  padding: 5px 15px;
  background-color: rgb(34, 33, 33);
  color: white;
  border-radius: 7px;
}

button:hover {
  background-color: rgb(44, 43, 43);
  text-decoration: none;
}

.lowerBtns .btnRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.editBtn {
  padding: 6px 29px !important;
}

@media (max-width: 476px) {
  .lowerBtns .btnRow {
    grid-template-columns: 1fr;
  }
  .editBtn {
    padding: 6px 18px !important;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background: #1f1f1f;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}

.page-center {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box {
  background: #3b3b3b;
  padding: 25px;
  border-radius: 14px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}


h2,
h3 {
  text-align: center;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  background: #2a2a2a;
  border: none;
  color: white;
  border-radius: 8px;
  outline: none;
}

textarea {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: #1f1f1f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2d2d2d;
}

/* Message Page */
.message-box {
  text-align: center;
}

.usrMsg {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

/* Show Page */

.profile-img {
  height: 160px;
  width: 160px;
  border-radius: 12px;
  object-fit: cover;
  margin: 10px 0;
}

/* Error Page */
.error-text {
  color: #ff6b6b;
  text-align: center;
}

.statsBox {
  background: #686767;
  border-radius: 8px;
  font-weight: 600;
}

.followersText {
  color: #d946ef;
}

.followingText {
  color: #22d3ee;
}

.statsBox span:hover {
  opacity: 0.85;
  cursor: default;
}

.followersText b,
.followingText b {
  font-size: 1.05rem;
}

.followersText,
.followingText {
  letter-spacing: 0.5px;
}

.statsBox {
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.06),
    rgba(0, 0, 0, 0.12)
  );
  border-radius: 10px;
  padding: 8px 12px;
  font-weight: 600;
}

@media (max-width:393px) {
  .statsBox span{
    display: flex;
  }
  .followSpace{
    display: none !important;
  }
}

/* Remove Up and down arrow from Input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  filter: invert(0);
  opacity: 0;
}

.errorBox {
  max-width: 1100px;
  background: #3b3b3b;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.errorBox p {
  display: flex;
  justify-content: center;
  padding-top: 17px;
}

@media (max-width:441px) {
  body{
    padding-left:4px !important;
    padding-right:4px !important;
  }
}

/* Create user btn styling (creating user) */
.create{
  cursor: not-allowed;
  background-color: #222121;
  opacity: 0.5;
}

.file-upload {
  display: inline-block;
  padding: 10px 16px;
  background: #2a2a2a;
  color: #aca8a8;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.file-upload:hover {
  background: #1f1e1e;
}

.file-name {
  display: inline-block;
  max-width: 180px;      
  margin-left: 10px;
  font-size: 13px;
  color: #aca8a8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

@media (max-width: 341px) {
  .file-name{
    margin-bottom: 10px;
  }
}



.follow-row {
  display: block;
  gap: 12px;
}

/* Large screens */
@media (min-width: 768px) {
  .follow-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 23px;
  }

  .follow-row input {
    width: 100%;
  }
}


/* Delete Confirmation Model */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.hidden {
  display: none;
}

.modal-box {
  background: #1f1f1f;
  color: #fff;
  padding: 45px 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(80, 79, 79, 0.4);
}

.modal-box h4 {
  margin-bottom: 10px;
}

.modal-box p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top:40px ;
}

.modal-cancel {
  flex: 1;
  background: #444;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.modal-delete {
  flex: 1;
  background: #e63946;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.modal-overlay {
  backdrop-filter: blur(4px);
}

.warning-box {
  display: flex;
  align-items: center !important;
  gap: 8px;
  background-color: #fafafa;
  border-left: 4px solid #ffcc00;
  color: #555;
  padding: 15px 14px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 15px;
}

.warning-box p{
  margin: 0;
}
